[Unit]
Description=coop
After=syslog.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/node /home/pi/coop-controller/index.js
Restart=always

[Install]
WantedBy=default.target
